<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="../public/css/feed.css">
<link rel="stylesheet" href="../public/css/head.css">
<link rel="stylesheet" href="../public//css/body.css">
    <title>Document</title>
</head>
<body>
<%- include('includes/nav.ejs') %>
<div class="background">
    <div class="container">
        <div class="row">
           <div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
               <div class="alert alert-danger" role="alert">
                   <strong><%= error.statusCode %> | <%= error.message %></strong>  <a href="/" class="alert-link text-info">Click here to  go back </a>
               </div>
           </div>
                
        </div>
    </div>
</div>
    <%- include('includes/end.ejs') %>
