<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="../public/css/body.css">
<link rel="stylesheet" href="../public/css/head.css">
   <title>Ask a Question</title>
   </head>
<body>
    

<%- include('includes/nav.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            
                <div class="card shadow">
                    <div class="card-header">
                        <h2><a href="" class="nav-link ml-0 pl-0"><%= question.questionTitle %></a></h2>

                    </div>
                    <div class="card-body">
                        <form action="/ansQues" method="POST">
                        <textarea name="answer" id="" cols="30" rows="10" class="form-control"></textarea>
                        <input type="hidden" name="quesId" value="<%= question._id %>">
                    </div>
                    <div class="card-footer">
                        
                            <button type="submit" class="btn btn-success btn-block form-control">Submit</button>
                      

                    </div>
                    </form>
                </div>
               
        </div>
    </div>
</div>
<%- include('includes/end.ejs') %>